<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RegistroLivroDao">
    <select id="countfindByFilter" resultType="int">
        select COUNT(*) FROM tb_registro_livro r
        INNER JOIN tb_inscricao i ON i.ci_inscricao = r.cd_inscricao
        INNER JOIN tb_devedor dev ON dev.ci_devedor = i.cd_devedor
        INNER JOIN tb_debito d ON d.cd_inscricao = i.ci_inscricao
        INNER JOIN tb_livro_eletronico l ON l.ci_livro_eletronico = r.cd_livro_eletronico
        INNER JOIN tb_divida div ON div.ci_divida = i.cd_divida

        <where>

            <if test="idLivro != null">
                AND l.ci_livro_eletronico = #{idLivro}
            </if>

            <if test="cpf != null">
                AND dev.nr_documento_devedor = #{cpf}
            </if>

            <if test="cnpj != null">
                AND dev.nr_documento_devedor = #{cnpj}
            </if>

            <if test="cgf != null">
                AND dev.nr_cgf_devedor = #{cgf}
            </if>

            <if test="nomeRazaoSocial != null">
                AND UPPER(dev.nm_devedor) LIKE #{nomeRazaoSocial}
            </if>

            <if test="dataRegistro != null">
                AND DATE(r.dt_criacao) = #{dataRegistro}
            </if>

            <if test="pagina != null">
                AND r.nr_pagina = #{pagina}
            </if>

            <if test="linha != null">
                AND r.nr_linha = #{linha}
            </if>

            <if test="numeroInscricao != null">
                AND i.nr_inscricao = #{numeroInscricao}
            </if>

        </where>
    </select>

    <resultMap id="resultMap" type="br.gov.ce.pge.gestao.dto.response.RegistroInscricaoResponseDto">

        <result property="numeroInscricao" column="nr_inscricao" />
        <result property="cgf" column="nr_cgf_devedor" />
        <result property="documento" column="nr_documento_devedor" />
        <result property="nomeRazaoSocial" column="nm_devedor" />
        <result property="cpf" column="nr_cpf_usuario" />
        <result property="valorPrincipal" column="vl_principal_debito" />
        <result property="nomeUsuario" column="nm_usuario_cadastro" />
        <result property="dataRegistro" column="dt_criacao" />
        <result property="origemDebito" column="nm_origem_debito" />
        <result property="pagina" column="nr_pagina" />
        <result property="linha" column="nr_linha" />

    </resultMap>

    <select id="findByRegistroInscricaoFilter" resultMap="resultMap">
        SELECT i.ci_inscricao, dev.nr_cgf_devedor, dev.nr_documento_devedor, dev.nm_devedor,
        d.vl_principal_debito, r.nm_usuario_cadastro, r.dt_criacao, div.nm_origem_debito, r.nr_pagina, r.nr_linha,
        i.nr_inscricao FROM tb_registro_livro r
        INNER JOIN tb_inscricao i ON i.ci_inscricao = r.cd_inscricao
        INNER JOIN tb_devedor dev ON dev.ci_devedor = i.cd_devedor
        INNER JOIN tb_debito d ON d.cd_inscricao = i.ci_inscricao
        INNER JOIN tb_livro_eletronico l ON l.ci_livro_eletronico = r.cd_livro_eletronico
        INNER JOIN tb_divida div ON div.ci_divida = i.cd_divida

        <where>

            <if test="idLivro != null">
                AND l.ci_livro_eletronico = #{idLivro}
            </if>

            <if test="cpf != null">
                AND dev.nr_documento_devedor = #{cpf}
            </if>

            <if test="cnpj != null">
                AND dev.nr_documento_devedor = #{cnpj}
            </if>

            <if test="cgf != null">
                AND dev.nr_cgf_devedor = #{cgf}
            </if>

            <if test="nomeRazaoSocial != null">
                AND UPPER(dev.nm_devedor) LIKE #{nomeRazaoSocial}
            </if>

            <if test="dataRegistro != null">
                AND DATE(r.dt_criacao) = #{dataRegistro}
            </if>

            <if test="pagina != null">
                AND r.nr_pagina = #{pagina}
            </if>

            <if test="linha != null">
                AND r.nr_linha = #{linha}
            </if>

            <if test="numeroInscricao != null">
                AND i.nr_inscricao = #{numeroInscricao}
            </if>

        </where>

        <if test="orderBy != null">
            ORDER BY
            ${orderBy}
        </if>

        OFFSET #{offset} ROWS
        FETCH NEXT #{limit} ROWS ONLY
    </select>

</mapper>
