<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PermissaoDao">

    <select id="countHistorysUpdates" resultType="int">
        SELECT COUNT(distinct(a.ci_auditoria))
        FROM tb_auditoria a
        INNER JOIN tb_permissao_aud p ON a.ci_auditoria = p.cd_auditoria
        WHERE a.ci_auditoria IS NOT NULL
        AND p.ci_permissao = #{id}
        AND NOT EXISTS (
	        SELECT 1
	        FROM tb_permissao_aud
	        WHERE 
	            ci_permissao = #{id}
	            AND tp_movimento = #{tipoMovimento}
        );
    </select>

    <resultMap id="resultMapAuditoria" type="br.gov.ce.pge.gestao.dto.response.AuditoriaPermissaoDto">

        <result property="id" column="ci_permissao" />
        <result property="dataMovimento" column="dt_movimento" />
        <result property="nomeUsuario" column="nm_usuario" />
        <result property="dadosAntigos" column="ds_dados_antigos" />
        <result property="nome" column="nm_permissao" />

    </resultMap>

    <select id="findHistorysUpdates" resultMap="resultMapAuditoria">
        SELECT 
        	a.dt_movimento, a.nm_usuario, a.ds_dados_antigos, p.nm_permissao, p.ci_permissao
        FROM tb_auditoria a
        INNER JOIN tb_permissao_aud p ON a.ci_auditoria = p.cd_auditoria
        WHERE a.ci_auditoria IS NOT NULL
        AND p.ci_permissao = #{id}
        AND NOT EXISTS (
	        SELECT 1
	        FROM tb_permissao_aud
	        WHERE 
	            ci_permissao = #{id}
	            AND tp_movimento = #{tipoMovimento}
    	 )
        ORDER BY a.ci_auditoria DESC
        OFFSET #{offset} ROWS
        FETCH NEXT #{limit} ROWS ONLY
    </select>

    
</mapper>
