<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PerfilAcessoDao">


	<select id="countfindByFilter" resultType="int">
        select COUNT(DISTINCT pa.ci_perfil_acesso)
        from tb_perfil_acesso pa
        inner join tb_perfil_acesso_sistema pas ON pa.ci_perfil_acesso = pas.cd_perfil_acesso
        inner join tb_sistema s ON s.ci_sistema = pas.cd_sistema
        
        <where>
			
	        <if test="nome != null">
	           AND UPPER(pa.nm_perfil_acesso) LIKE #{nome}
	        </if>
	        
	        <if test="situacao != null">
	           AND pa.ds_situacao_perfil_acesso = #{situacao}
	        </if>
	        
       		<if test="sistemas != null and sistemas.size() > 0">
	            AND s.ci_sistema::VARCHAR IN
	            <foreach item="item" index="index" collection="sistemas" open="(" separator="," close=")">
	                #{item}
	            </foreach>
        	</if>
	        
   		 </where>
    </select>


    <resultMap id="resultMap" type="br.gov.ce.pge.gestao.dto.response.PerfilAcessoFilterResponseDto">

        <result property="id" column="ci_perfil_acesso" />
        <result property="nome" column="nm_perfil_acesso" />
         <result property="situacao" column="ds_situacao_perfil_acesso" />
         <result property="dataCadastro" column="dt_criacao" />
         <result property="dataAtualizacao" column="dt_atualizacao" />
         
    </resultMap>

    <select id="findByFilter" resultMap="resultMap">
        select distinct pa.*
        from tb_perfil_acesso pa
        inner join tb_perfil_acesso_sistema pas ON pa.ci_perfil_acesso = pas.cd_perfil_acesso
        inner join tb_sistema s ON s.ci_sistema = pas.cd_sistema
        
        <where>
			
	        <if test="nome != null">
	           AND UPPER(pa.nm_perfil_acesso) LIKE #{nome}
	        </if>
	        
	        <if test="situacao != null">
	           AND pa.ds_situacao_perfil_acesso = #{situacao}
	        </if>
	        
       		<if test="sistemas != null and sistemas.size() > 0">
	            AND s.ci_sistema::VARCHAR IN
	            <foreach item="item" index="index" collection="sistemas" open="(" separator="," close=")">
	                #{item}
	            </foreach>
        	</if>
	        
   		 </where>
   		 
   		 <if test="orderBy != null">
   		 ORDER BY 
	        ${orderBy}
	    </if>
   		 
   		 OFFSET #{offset} ROWS
         FETCH NEXT #{limit} ROWS ONLY
    </select>
    
    
    <resultMap id="resultMapSystem" type="br.gov.ce.pge.gestao.dto.response.SistemaFilterResponseDto">

	 <result property="id" column="ci_sistema" />
	 <result property="nome" column="nm_sistema" />
	 <result property="idPerfil" column="ci_perfil_acesso" />
    </resultMap>

    <select id="findByFilterWithSystem" resultMap="resultMapSystem">
        SELECT distinct pa.ci_perfil_acesso, s.ci_sistema, s.nm_sistema
        from tb_perfil_acesso pa
        inner join tb_perfil_acesso_sistema pas ON pa.ci_perfil_acesso = pas.cd_perfil_acesso
        inner join tb_sistema s ON s.ci_sistema = pas.cd_sistema
        
        <where>
			
	        <if test="nome != null">
	           AND UPPER(pa.nm_perfil_acesso) LIKE #{nome}
	        </if>
	        
	        <if test="situacao != null">
	           AND pa.ds_situacao_perfil_acesso = #{situacao}
	        </if>
	        
       		<if test="sistemas != null and sistemas.size() > 0">
	            AND s.ci_sistema::VARCHAR IN
	            <foreach item="item" index="index" collection="sistemas" open="(" separator="," close=")">
	                #{item}
	            </foreach>
        	</if>
	        
   		 </where>
   		 

    </select>

    
</mapper>
