<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LivroEletronicoDao">
    <select id="findByFilter" resultMap="resultMap">
        select DISTINCT l.ci_livro_eletronico, l.nm_livro_eletronico, l.ds_situacao_livro, l.dt_abertura_livro,
        l.dt_fechamento_livro
        from tb_livro_eletronico l
        left join tb_registro_livro r ON r.cd_livro_eletronico = l.ci_livro_eletronico
        left join tb_divida d ON r.cd_divida = d.ci_divida
        left join tb_divida_pessoa dp ON dp.cd_divida = d.ci_divida
        left join tb_pessoa p ON p.ci_pessoa = dp.cd_pessoa

        <where>
            <if test="nomeRazaoSocial != null">
                AND UPPER(p.nm_pessoa) LIKE #{nomeRazaoSocial}
            </if>
            <if test="numeroInscricao != null">
                AND d.nr_inscricao = #{numeroInscricao}
            </if>
            <if test="cgf != null">
                AND p.nr_cgf_pessoa = #{cgf}
            </if>
            <if test="nome != null">
                AND l.nm_livro_eletronico LIKE #{nome}
            </if>
            <if test="cpf != null and cnpj == null">
                AND p.nr_documento_pessoa = #{cpf}
            </if>
            <if test="cnpj != null and cpf == null">
                AND
                <choose>
                    <when test="cnpj.length() == 14">
                        p.nr_documento_pessoa = #{cnpj}
                    </when>
                    <when test="cnpj.length() == 8">
                        LEFT(p.nr_documento_pessoa, 8) = #{cnpj}
                    </when>
                </choose>
            </if>
            <if test="cpf != null and cnpj != null">
                AND (
                p.nr_documento_pessoa = #{cpf}
                OR
                <choose>
                    <when test="cnpj.length() == 14">
                        p.nr_documento_pessoa = #{cnpj}
                    </when>
                    <when test="cnpj.length() == 8">
                        LEFT(p.nr_documento_pessoa, 8) = #{cnpj}
                    </when>
                </choose>
                )
            </if>
            <if test="situacao != null">
                AND l.ds_situacao_livro = #{situacao}
            </if>
            <if test="dataAbertura != null">
                AND l.dt_abertura_livro >= #{dataAbertura}::DATE
            </if>
            <if test="dataFechamento != null">
                <![CDATA[
                AND l.dt_fechamento_livro < #{dataFechamento}::DATE + INTERVAL '1 DAY'
                ]]>
            </if>
            <if test="livros != null and livros.size() > 0">
                AND l.ci_livro_eletronico::VARCHAR IN
                <foreach item="item" index="index" collection="livros" open="(" separator="," close=")">
                    #{item}::VARCHAR
                </foreach>
            </if>
        </where>
    </select>

    <resultMap id="resultMap" type="br.gov.ce.pge.gestao.dto.response.LivroEletronicoFilterResponseDto">
        <result property="id" column="ci_livro_eletronico"/>
        <result property="nome" column="nm_livro_eletronico"/>
        <result property="situacao" column="ds_situacao_livro"/>
        <result property="dataAbertura" column="dt_abertura_livro"/>
        <result property="dataFechamento" column="dt_fechamento_livro"/>
    </resultMap>
</mapper>
