<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TermoCondicaoDao">

    <select id="countHistorysUpdates" resultType="int">
        <![CDATA[
            SELECT COUNT(*)
            FROM tb_termo_condicao
            WHERE ci_termo_condicao = #{id}
            OR dt_criacao <= (
                SELECT dt_criacao
                FROM tb_termo_condicao
                WHERE ci_termo_condicao = #{id}
            )
            AND cd_sistema = (
                SELECT cd_sistema
                FROM tb_termo_condicao
                WHERE ci_termo_condicao = #{id}
            )
        ]]>
    </select>

    <resultMap id="resultMapAuditoria" type="br.gov.ce.pge.gestao.dto.response.AuditoriaTermoCondicaoDto">

        <result property="dataMovimento" column="dt_criacao" />
        <result property="id" column="ci_termo_condicao" />
        <result property="nomeUsuario" column="nm_usuario_cadastro" />
        <result property="versao" column="ds_versao" />
        <result property="conteudo" column="ds_conteudo" />

    </resultMap>

    <select id="findHistorysUpdates" resultMap="resultMapAuditoria">
            <![CDATA[
                SELECT *
                FROM tb_termo_condicao
                WHERE ci_termo_condicao = #{id}
                OR dt_criacao <= (
                    SELECT dt_criacao
                    FROM tb_termo_condicao
                    WHERE ci_termo_condicao = #{id}
                )
                AND cd_sistema = (
                    SELECT cd_sistema
                    FROM tb_termo_condicao
                    WHERE ci_termo_condicao = #{id}
                )
                ORDER BY dt_criacao DESC
                OFFSET #{offset} ROWS
                FETCH NEXT #{limit} ROWS ONLY
            ]]>
    </select>

</mapper>