<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SistemaDao">


	<resultMap id="resultMap" type="br.gov.ce.pge.gestao.dto.response.SistemaDto">

		<result property="id" column="ci_sistema" />
		<result property="nome" column="nm_sistema" />
		<result property="situacao" column="ds_situacao_sistema" />
		
		<collection property="modulos" ofType="br.gov.ce.pge.gestao.dto.response.ModuloDto">

			<result property="id"  column="ci_modulo" />
			<result property="nome" column="nm_modulo" />
			
				<collection property="permissoes" ofType="br.gov.ce.pge.gestao.dto.response.PermissaoDto">
	
					<result property="id"  column="ci_permissao" />
					<result property="nome" column="nm_permissao" />
	
				</collection>

		</collection>
		
	</resultMap>

	<select id="findAll" resultMap="resultMap"> 
		SELECT * 
		FROM tb_sistema s 			
		LEFT JOIN tb_sistema_modulo sm ON s.ci_sistema = sm.cd_sistema 
		LEFT JOIN tb_modulo m ON m.ci_modulo = sm.cd_modulo 
		LEFT JOIN tb_modulo_permissao mp ON m.ci_modulo = mp.cd_modulo 
		LEFT JOIN tb_permissao p ON p.ci_permissao = mp.cd_permissao 
		ORDER BY s.nm_sistema, m.nm_modulo, p.nm_permissao asc
	</select>


</mapper>