<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PerfilAcessoDao">

    <select id="countHistorysUpdates" resultType="int">
        SELECT COUNT(distinct(a.ci_auditoria))
        FROM tb_auditoria a
        INNER JOIN tb_perfil_acesso_aud pa ON a.ci_auditoria = pa.cd_auditoria
        WHERE a.ci_auditoria IS NOT NULL
        AND pa.ci_perfil_acesso = #{id}
        AND NOT EXISTS (
	        SELECT 1
	        FROM tb_perfil_acesso_aud
	        WHERE 
	            ci_perfil_acesso = #{id}
	            AND tp_movimento = #{tipoMovimento}
        );
    </select>

    <resultMap id="resultMapAuditoria" type="br.gov.ce.pge.gestao.dto.response.AuditoriaPerfilAcessoDto">

        <result property="dataMovimento" column="dt_movimento" />
        <result property="nomeUsuario" column="nm_usuario" />
        <result property="dadosAntigos" column="ds_dados_antigos" />
        <result property="id" column="ci_perfil_acesso" />
        <result property="nome" column="nm_perfil_acesso" />
        <result property="situacao" column="ds_situacao_perfil_acesso" />
        <result property="idsAdicionados" column="ids_adicionados" />
        <result property="idsRemovidos" column="ids_removidos" />
        <result property="idsSistemaAdicionados" column="ids_sistema_adicionados" />
        <result property="idsSistemaRemovidos" column="ids_sistema_removidos" />

    </resultMap>

    <select id="findHistorysUpdates" resultMap="resultMapAuditoria">
        SELECT 
	        	a.dt_movimento, a.nm_usuario, a.ds_dados_antigos, 
				pa.nm_perfil_acesso, pa.ci_perfil_acesso, pa.ds_situacao_perfil_acesso,
				CONCAT(STRING_AGG(CASE WHEN ppa.tp_movimento = 0 THEN ppa.cd_permissao::text END, ','),'') AS ids_adicionados,
	        	CONCAT(STRING_AGG(CASE WHEN ppa.tp_movimento = 2 THEN ppa.cd_permissao::text END, ','),'') AS ids_removidos,
	        	CONCAT(STRING_AGG(CASE WHEN pas.tp_movimento = 0 THEN pas.cd_sistema::text END, ','),'') AS ids_sistema_adicionados,
	        	CONCAT(STRING_AGG(CASE WHEN pas.tp_movimento = 2 THEN pas.cd_sistema::text END, ','),'') AS ids_sistema_removidos
        FROM tb_auditoria a
        INNER JOIN tb_perfil_acesso_aud pa ON a.ci_auditoria = pa.cd_auditoria
        LEFT JOIN tb_perfil_acesso_sistema_aud pas on a.ci_auditoria = pas.cd_auditoria
        LEFT JOIN tb_perfil_permissao_aud ppa on a.ci_auditoria = ppa.cd_auditoria
        WHERE a.ci_auditoria IS NOT NULL
        AND pa.ci_perfil_acesso = #{id}
        AND NOT EXISTS (
	        SELECT 1
	        FROM tb_perfil_acesso_aud
	        WHERE 
	            ci_perfil_acesso = #{id}
	            AND tp_movimento = #{tipoMovimento}
    	 )
			GROUP BY
		        a.ci_auditoria,
		        a.dt_movimento,
		        a.nm_usuario,
		        a.ds_dados_antigos,
		        pa.ci_perfil_acesso,
		        pa.nm_perfil_acesso,
		        pa.ds_situacao_perfil_acesso
        ORDER BY
        	a.ci_auditoria DESC
        OFFSET #{offset} ROWS
        FETCH NEXT #{limit} ROWS ONLY
    </select>

    
</mapper>
