<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProdutoServicoDao">

	<resultMap id="resultProdutoServicoFilter"
		type="br.gov.ce.pge.gestao.dto.response.ProdutoServicoConsultaFilterResponseDto">
		<result property="id" column="ci_produto_servico" />
		<result property="codigo" column="cd_produto_servico" />
		<result property="descricao" column="ds_produto_servico" />
		<result property="situacao" column="ds_situacao_produto_servico" />
		<result property="dataCriacao" column="dt_criacao" />
		<result property="dataAtualizacao" column="dt_atualizacao" />
		
		<collection property="tipoReceitas" ofType="br.gov.ce.pge.gestao.dto.response.TipoReceitaConsultaFilterResponseDto">
       		 <result property="id" column="ci_receita" />
    	</collection>
			
	</resultMap>

	<select id="findProdutoServicosByFilter" resultMap="resultProdutoServicoFilter">
		
		SELECT 
				ps.ci_produto_servico, ps.cd_produto_servico, ps.ds_produto_servico, 
				ps.ds_situacao_produto_servico, ps.dt_criacao, ps.dt_atualizacao,
				r.ci_tipo_receita as ci_receita
		FROM tb_produto_servico ps
		INNER JOIN tb_produto_servico_receita tr ON tr.cd_produto_servico = ps.ci_produto_servico
		LEFT JOIN tb_tipo_receita r ON tr.cd_tipo_receita = r.ci_tipo_receita
		
		<where>
			
	        <if test="codigo != null">
	            AND ps.cd_produto_servico = #{codigo}
	        </if>
	        
	        <if test="descricao != null">
	            AND upper(ps.ds_produto_servico) like #{descricao}
	        </if>
	        
	        <if test="situacao != null">
	            AND ps.ds_situacao_produto_servico = #{situacao}
	        </if>
	        
	        <if test="idsTipoReceitas != null and idsTipoReceitas.size() > 0">
	            AND r.ci_tipo_receita::VARCHAR IN
	            <foreach item="item" index="index" collection="idsTipoReceitas" open="(" separator="," close=")">
	                #{item}
	            </foreach>
       		</if>
	        
   		 </where>
   		 
   		 order by ps.cd_produto_servico

	</select>

</mapper>